.items {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-grow: 1;
  height: 50vh;
}

.item-list {
  overflow: auto;
}

.note-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #D8EDD4;
}

.checkbox-container {
  background-color: #FAF1DA;
}