.items {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  flex-grow: 1;
  height: 50vh;
}

.item-list {
  overflow: auto;
}

.note-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: var(--page-content-background);
}

.checkbox-container {
  background-color: var(--primary-background);
}

.page-type {
  display: none;
}

@media screen and (max-width: 799px) {
  .note-content {
    background-color: transparent;
  }

  .page-type {
    display: inline;
    margin-right: 1em;
    font-size: 1.5em;
  }
}