.page-item{
    background-color: #D8EDD4;
    height: 3em;
    width: auto;
    margin: 0 1em 1em 1em;
    border: black solid 0.1em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    transition: all 250ms;
}

.content__title{
    margin-left: 1em;
}

.page-item__content {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    align-items: center;
}

.content__icon {
    font-size: 2rem;
}

.content__icon:hover {
    transform: scale(1.2);
    animation: glow 0.5s ease-in forwards;
}

.page-item:hover {
    transform: scale(1.05);
    animation: glow 0.5s ease-in forwards;
}

@keyframes glow {
    from {
        background-color: white;
    }
    to {
        background-color: white;
    }
}