.menu__new-page-form {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
}

.menu__new-page-form:hover {
    background-color: var(--page-content-background);
}

.menu__submit:hover {
    background-color: var(--page-content-background);
    border-radius: 0.5rem;
}

.menu__input {
    background-color: transparent;
    border: none;
    font-size: larger;
    padding-left: 1rem;
}

.menu__input::-webkit-input-placeholder {
    color: var(--border-color);
}

menu__input:-moz-placeholder {
    color: var(--border-color);
}

.menu__submit {
    background-size: 50% 2px, 2px 50%;
    background: linear-gradient(#000, #000) linear-gradient(#000, #000) no-repeat center;
}


@media screen and (min-width: 800px) {
    .menu__submit {
        height: 3rem;
        width: 3rem;
        border: none;
    }

    .menu__new-page-form:hover {
        background-color: white;
    }

    .menu__submit:hover {
        background-color: white;
    }
}

@media screen and (max-width: 799px) {
    .menu__submit {
        height: 2em;
        width: 2em;
        border: none;
    }
}