.menu__new-page-form {
    display: flex;
    margin: 0.5rem;
    align-items: center;
    border-radius: 0.5rem;
}

.menu__new-page-form:hover {
    background-color: rgb(243, 227, 7);
}

.menu__submit:hover {
    background-color: azure;
    border-radius: 0.5rem;
}

.menu__submit {
    background: linear-gradient(#000,#000), linear-gradient(#000,#000);
    background-position:center;
    background-size: 50% 2px,2px 50%;
    background-repeat:no-repeat;
    height: 3rem;
    width: 3rem;
    border: none;
}

.menu__input {
    background-color: transparent;
    border: none;
    font-size: larger;
    padding-left: 1rem;
}

.menu__input::-webkit-input-placeholder {
    color:black;
}

menu__input:-moz-placeholder {
    color:black;
}