.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.itemInputEdit {
  border: none;
  border-color: transparent;
  background: transparent;
  border-style:none;
  outline-width: 0;

}

.item_checkOn_text:before {
    content:"• ";
}

.resizable-box__image {
  height: 100%;
  width: 100%;
}

.item__resizable-box {
  width: 10rem;
  resize: both;
  overflow: auto;
  margin-right: 2em;
}

.item_text {
  margin: 0 auto 0 2em;
}