.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 22px;
}

.item__text:before {
    content:"• ";
}

.resizable-box__image {
  height: 100%;
  width: 100%;
}

.item__resizable-box {
  width: 10rem;
  resize: both;
  overflow: auto;
}