.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-highlight);
    border: black solid 0.1em;
    border-radius: 0 0.5em 0.5em 0;
}

.menu__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.menu__page-icon {
    height: 3rem;
}

@media screen and (max-width: 799px) {
    .menu {
        display: flex;
        flex-direction: column;
        background-color: var(--plain-white);
        border: black solid 0.1em;
        border-radius: 0 0.5em 0.5em 0;
    }

    .menu--hidden {
        display: none;
    }

    .menu__header {
        display: none;
    }

    .menu__page-icon {
        display: none;
    }
}
