.modal__bold-text {
  font-weight: bold;
}

.modal__dots {
  cursor: pointer;
}

.modal__header {
  background-color: #d8edd4;
}

.modal__body {
  background-color: #faf1da;
  border-bottom: black solid 0.1em;
  border-top: black solid 0.1em;
}

.modal__footer {
  background-color: #d8edd4;
}

.react-confirm-alert-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #faf1da;
  border: black solid 0.1em;
}
